body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #0a1612;
}

#main{
    margin-bottom: 50px;
}

.clear-fix{
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry{
    padding: 0 15%;
}

h1{
    font-size: 40px;
    color: #f7ce3e;
    line-height: 48px;
    display: inline;
}

h2{
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}

h3{
    font-size: 16pt;
    color: #7D98A1;
    line-height: 22px;
    margin: 32px 0 8px;
}

h4{
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

.date-text{
    font-size: 12px;
    font-weight: bold;
    color: #1a2930;
    line-height: 16px;
    display: inline;
}

.employer,
.school {
    display: inline;
    float: right;
    font-size: 14pt;
}

.major {
    display: inline;
}

.publisher{
    font-size: 14px;
    color: #1a2930;
    font-style: italic;
    display: block;
    margin-bottom: 8px;
}

.location-text{
    font-size: 12px;
    font-weight: bold;
    color: #1a2930;
    float: right;
    display: inline;
}

.description{
    margin-top: 8px;
}

p{
    font-size: 14px;
    color: #0a1612;
    line-height: 21px;
}

a{
    color: #7D98A1;
    text-decoration: none;
    display: block;
}

a:hover{
    border-bottom: 1px solid;

}

#skills-h3{
    color: #f7ce3e;
    display: none;
}

.orange-text{
    color: #f7ce3e;
}

.white-text{
    font-weight: bold;
    color: #c5c1c0;
}

.gray{
    background-color: #5E6572;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray{
    background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header{
    background-color: #1a2930;
}

.flex-box{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.flex-item a{
    display: inline;
}

.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

.center-content{
    padding: 2.5% 15% 0;
}

ul{
    list-style-type: none;
}

.biopic{
    float: left;
    padding: 10px 20px 10px 0;
    width: 175px;
    display: none;
}

img{
    padding: 10px;
}

span{
    padding: 5px;
}

#lets-connect{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1a2930;
}

/* Media queries to handle various device widths */

@media only screen and (max-width : 1024px){
    #lets-connect{
        margin-top: 5%;
    }
}

@media only screen and (max-width : 900px){
    .biopic{
        width: 175px;
    }
}

@media only screen and (max-width : 750px){
    #lets-connect{
        margin-top: 10%;
    }
    .biopic{
        width: 150px;
    }
    .welcome-message{
        display: none;
    }
}

#map{
    display: block;
    height: 100%;
    margin: 0 15%;
}

#mapDiv{
    height: 400px;
    width: 100%;
    padding-bottom: 15%;
}

@media only screen and (min-width : 750px){
    #skills-h3,
    .biopic{
        display: block;
    }
}

/*  http://www.w3schools.com/howto/howto_js_tabs.asp */
/* Style the list */
ul.tab{
    list-style-type: none;
    margin: 0;
    padding: 0 15%;
    overflow: hidden;
    background-color: #1a2930;
}

/* Float the list items side by side */
ul.tab li{
    float: left;
}

/* Style the links inside the list items */
ul.tab li a{
    display: inline-block;
    color: #c5c1c0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-weight: bold;
}

/* Change background color of links on hover */
ul.tab li a:hover{
    background-color: #ddd;
    color: #0a1612;
    border-bottom: 0;
}

/* Create an active/current tablink class */
ul.tab li a:focus,
ul.tab li a.active{
    background-color: white;
    color: #0a1612;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent{
    display: none;
    padding: 6px 12px;
    border-top: none;
    background-color: white;
}
